<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Website{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'userprofile-list' %}">User Profiles</a></li>
            <li><a href="{% url 'product-list' %}">Products</a></li>
        </ul>
    </nav>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
