
{% extends 'base2.html' %}

{% block title %}Product Detail{% endblock %}

{% block content %}
    <h1>Product Detail</h1>
    <p><strong>Name:</strong> {{ product.product_name }}</p>
    <p><strong>Price:</strong> ${{ product.price }}</p>
    <p><strong>Description:</strong> {{ product.description }}</p>
    <p><strong>Category:</strong> {{ product.category.category_name }}</p>
    <p><strong>Tags:</strong>
        {% for tag in product.tags.all %}
            {{ tag.tag_name }}
            {% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <a href="{% url 'product-list' %}">Back to Products</a>
{% endblock %}
