{% extends 'base2.html' %}

{% block title %}Create Product{% endblock %}

{% block content %}
    <h1>Create Product</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="product_name">Product Name:</label>
        <input type="text" id="product_name" name="product_name"><br>
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" step="0.01"><br>
        <label for="description">Description:</label>
        <textarea id="description" name="description"></textarea><br>
        <label for="category">Category:</label>
        <select id="category" name="category">
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.category_name }}</option>
            {% endfor %}
        </select><br>
        <label for="product_image">Product Image:</label>
        <input type="file" id="product_image" name="product_image"><br>
        <label for="tags">Tags:</label>
        <select id="tags" name="tags" multiple>
            {% for tag in tags %}
                <option value="{{ tag.id }}">{{ tag.tag_name }}</option>
            {% endfor %}
        </select><br>
        <button type="submit">Create</button>
    </form>
    <a href="{% url 'product-list' %}">Cancel</a>
{% endblock %}
