{% extends 'base2.html' %}

{% block title %}Products{% endblock %}

{% block content %}
    <h1>Products</h1>
    <ul>
        {% for product in products %}
            <li><a href="{% url 'product-detail' product.pk %}">{{ product.product_name }}</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'product-create' %}">Create New Product</a>
{% endblock %}
