{% extends 'base2.html' %}

{% block title %}User Profiles{% endblock %}

{% block content %}
    <h1>User Profiles</h1>
    <ul>
        {% for userprofile in userprofiles %}
            <li><a href="{% url 'userprofile-detail' userprofile.pk %}">{{ userprofile.name }}</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'userprofile-create' %}">Create New User Profile</a>
{% endblock %}
