
{% extends 'base2.html' %}

{% block title %}User Profile Detail{% endblock %}

{% block content %}
    <h1>User Profile Detail</h1>
    <p><strong>Name:</strong> {{ userprofile.name }}</p>
    <p><strong>Email:</strong> {{ userprofile.email }}</p>
    <p><strong>Phone:</strong> {{ userprofile.phone }}</p>
    <p><strong>Birth Date:</strong> {{ userprofile.birth_date }}</p>
    <p><strong>Gender:</strong> {{ userprofile.get_gender_display }}</p>
    <a href="{% url 'userprofile-list' %}">Back to User Profiles</a>
{% endblock %}
