.header {
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

.logo-image {
    margin-top: 25px;
    text-align: center;
}

img {
    width: 500px;
}

.view-task {
    margin-top: 25px;
    text-align: center;
}

.about-app{
    margin-top: 25px;
}

