{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <title>Task Manager</title>
</head>

<body>
  <nav class="navbar bg-body-tertiary p-3 shadow-lg">
    <div class="container-fluid">

      {% if request.user.is_authenticated %}
      <a class="navbar-brand">User : {{request.user}}</a>
      <a href="{% url 'logout_page' %}" class="btn btn-outline-primary" type="submit">Logout</a>
      {% else %}
      <a class="navbar-brand">User : Guest</a>
      <a href="{% url 'login_page' %}" class="btn btn-outline-primary" type="submit">Login</a>
      {% endif %}

    </div>
  </nav>
  <div class="header">
    <h1>Task Manager</h1>
  </div>
  {% block start %}
  {% endblock %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>


</html>