{% extends 'base.html' %}

{% block start %}


<div class="card">
    <div class="card-body">
        <h3>Create a new task</h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h6>Task Name</h6>
            <input type="text" class="form-control mb-3" name="taskname">
            <button type="submit" class="btn btn-primary mb-3">Create</button>
                {% if messages %}
                <div class="alert alert-primary" role="alert">
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                </div>
                {% endif %}
        </form>
        <a href="{% url 'task_list' val=2 %}" class="btn btn-danger">Back</a>
    </div>
</div>


{% endblock %}