{% extends 'base.html' %}

{% block start %}

<div class="card">
  <div class="card-body">
    <h3>Edit task</h3>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <h6>Task ID : {{task.id}}</h6>
      <h6>Task Name</h6>
      <input type="text" class="form-control mb-3" name="taskname" value="{{task.task_name}}">
      <h6>Status</h6>
      <select class="form-select" aria-label="Default select example" name="status">
        <option value="{{task.status}}" selected>{{ status_display }}</option>
        {% if status_display == 'Closed' %}
        <option value="0">Open</option>
        {% else %}
        <option value="1">Closed</option>
        {% endif %}
      </select>
      <hr>
      <button type="submit" class="btn btn-primary mb-3">Save</button>
      {% if messages %}
      <div class="alert alert-primary" role="alert">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
      </div>
      {% endif %}
    </form>
    <a href= "{% url 'task_detail' id=task.id %}" class="btn btn-danger">Back</a>
  </div>
</div>

{% endblock %}