{% extends "base.html" %}
{% load cache %}
{% cache 300 home_page_cache %}

{% block start %}

{% load static %}


<div class="logo-image">
    <img src="{% static 'images/todo.png' %}" alt="Logo">
</div>

<div class="view-task">
    <a href="{% url 'task_list' val=2 %}" class="btn btn-outline-primary" type="submit">View Tasks</a>
    <p class="about-app">This is a simple application designed to manage all you tasks.</p>  
</div>


{% endblock %}
{% endcache %}