{% extends 'base.html' %}
{% block start %}


<div class="container justify-content-center text-center mt-5">
    <div class="card mb-3" style="width: 100%;">
        <div class="card-body">
            <h1 class="card-title">403</h1>
            <h4 class="card-subtitle mb-2 text-body-secondary">Permission Denied!</h4>
            <h6 class="card-text">You do not have permission to access this page.</h6>
        </div>
    </div>
    <a href="{% url 'home_page' %}" class="btn btn-outline-dark" type="submit">Back to Home Page</a>
</div>


{% endblock %}