{% extends 'base.html' %}

{% block start %}
<div class="container mt-5">
    <h2>Task List</h2>
    <a href="{% url 'create_task' %}" class="btn btn-primary me-5 mt-3 mb-3">Create Task</a>

    <span class="dropdown ms-5 mb-2 mt-3">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Status
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'task_list' val=2 %}" name="open">All</a></li>
          <li><a class="dropdown-item" href="{% url 'task_list' val=0 %}" name="open">Open</a></li>
          <li><a class="dropdown-item" href="{% url 'task_list' val=1 %}" name="closed">Closed</a></li>
        </ul>
    </span>
    <table class="table">
        <thead>
            <tr>
                <th>Task Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for task in page_obj %}
            <tr>
                <td>{{ task.task_name }}</td>
                <td><a href="{% url 'task_detail' id=task.id %}" class="btn btn-outline-primary">View</a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">No tasks found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Pagination -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-start">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" tabindex="-1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}


