{% extends 'base.html' %}

{% block start %}

<div class="card">
  <div class="card-body">
    <p class="card-title"><b>Task ID:</b> {{task.id}}</p>
    <p class="card-text"><b>Task Name:</b> {{task.task_name}}</p>
    <p class="card-text"><b>Task Status:</b> {{status_display}}</p>
    <a href="{% url 'edit_task' id=task.id %}" class="btn btn-primary">Edit</a>
    <a href="{% url 'delete_task' id=task.id %}" class="btn btn-danger">Delete</a>
    <a href="{% url 'task_list' val=2 %}" class="btn btn-primary">Back</a>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5>Subtasks</h5>
    {% for subtask in subtasks %}
    <p class="card-text">{{forloop.counter}}. {{ subtask.subtask_name}} <a href="{% url 'delete_subtask' id=subtask.id %}"
        class="btn btn-outline-danger">Delete</a></p>
    {% endfor %}
    <div class="mb-3">
      <h6>New Subtask</h6>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="exampleInputEmail1" class="form-label">Subtask Name</label>
        <input type="text" class="form-control mb-3" name="subtaskname" id="exampleInputEmail1"
          aria-describedby="emailHelp">
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
    </div>

  </div>
</div>



{% endblock %}